<!doctype html>
<html lang="pt">
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon -->
        <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <!-- Icons -->
        <link href="{% static 'assets/vendor/nucleo/css/nucleo.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <!-- Argon CSS -->
        <link type="text/css" href="{% static 'assets/css/argon.min.css' %}" rel="stylesheet">
    </head>
    <body>


    {% if request.user.is_authenticated%}
        {% include 'nav-lateral.html' %}
    {% endif %}

    <div class="main-content">
        {% if request.user.is_authenticated%}
                {% include 'nav-bar.html' %}
        {% endif %}
    {% block content %}

    {% endblock %}
    </div>


    <!-- Core -->
    <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'assets/js/meuJs.js' %}"></script>

    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/argon.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>
    <script>
          $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });
    </script>

    </body>



</html>