{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="header bg-gradient-primary pb-7 pt-4 pt-md-7">
      <div class="container-fluid">
        <div class="header-body">

        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-12 mb-12 mb-xl-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                      <div class="row align-items-center">

                        <div class="col">
                          <h2 class="mb-0 gradient-primary">Detalhes Conta</h2>
                        </div>

                         <div class="col">
                          <a href="{{conta.get_update_url}}" class="btn btn-outline-light">
                               <i class="fas fa-pencil"></i>
                               Editar Conta
                          </a>
                         </div>

                      </div>
                    </div>
                    <div class="row">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <tr>
                                <th scope="row">{{ conta.nome }}</th>
                                <th scope="row">{{ conta.saldo_conta }}</th>
                                <td scope="row">
                                <div class="icon icon-shape text-white rounded-circle shadow {% if conta.tipo_conta == 'CC' %}
                                            bg-primary
                                            {% elif conta.tipo_conta == 'PO'%}
                                            bg-info
                                            {% else %}
                                            bg-gradient-green
                                        {% endif %} ">
                                  </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </div>
                    <div class="row">
                    <span class="center">Movimentações da Conta</span>
                    <ul class="list-group list-group-flush">
                    {% for mov in  conta.movimentacoes_conta.all %}
                        <li class="list-group-item">
                        {% if mov.fatura.tipo_fatura == 'D' %}
                            <span> <b style="color: red">-</b> {{ mov.valor }} - {{ mov.data }}</span>
                        {% else %}
                            <span> <b style="color: green">+</b> {{ mov.valor }} - {{ mov.data }}</span>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    </div>
        </div>
    </div>
        </div>
    </div>

{% endblock %}


