{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Conta a Pagar</h5>
    <table class="table">
    <tr>
        <td>Ações</td>
        <td>Número</td>
        <td>tipo_fatura</td>
        <td>Descricao</td>
        <td>data_vencimento</td>
        <td>valor_fatura</td>
    </tr>
    {% for fatura in faturas %}
    <tr>

        <td><a href="{{fatura.get_update_url}}">
            <i class="fas fa-pen"></i></a>
        </td>
        <td>{{fatura.pk}}</td>
        <td>{{ fatura.tipo_fatura }}</td>
        <td>{{ fatura.Descricao }}</td>
        <td>{{ fatura.data_vencimento }}</td>
        <td>{{ fatura.valor_fatura }}</td>

    </tr>
    {% endfor %}
    </table>
            <a class="btn btn-primary" href="{% url 'contas_fatura_create' %}">Nova Fatura</a>
        </div>
    </div>
{% endblock %}