{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="header bg-gradient-primary pb-7 pt-4 pt-md-7">
      <div class="container-fluid">
        <div class="header-body">

        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 mb-12 mb-xl-12">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="mb-0 gradient-primary">Quitar Lançamento</h2>
                </div>
                 <div class="col">
                  <a href="{% url 'contas_fatura_create' %}" class="btn btn-outline-success">
                       <i class="fas fa-plus-circle"></i>
                       Novo Lançamento
                  </a>
                 </div>
              </div>

              {% if texto_mensagem  %}

              <div class="alert alert-success" role="alert">
                <span class="alert-inner--icon"><i class="fas fa-aler"></i></span>
                <span class="alert-inner--text">{{ texto_mensagem }}</span>
              </div>
              {% endif %}

              {% if texto_erro  %}

              <div class="alert alert-danger" role="alert">
                <span class="alert-inner--icon"><i class="fas fa-aler"></i></span>
                <span class="alert-inner--text">{{ texto_erro }}</span>
              </div>
              {% endif %}

              Lançamento {{ fatura.descricao }}<br>
              Valor : {{ fatura.valor_fatura }}<br>
              Valor pago: {{ fatura.valor_pago }}

              <form action="{% url 'movimentacao' fatura.id %}" method="post">
                  {% csrf_token %}
                  {{ form|crispy}}
                  <button class="btn btn-outline-success" type="submit">Enviar</button>

                  <a class="btn btn-outline-default" href="{% url 'contas_fatura_list' %}">
                      <i class="fas fa-angle-left"></i>
                      Voltar
                  </a>
              </form>

              {% if lista %}
               <div class="row">
               <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Conta</th>
                                <th scope="col">Valor</th>
                              </tr>
                            </thead>

                              {% for item in lista %}
                                <tr>
                                    <th scope="row">
                                        {{ item.valor }}
                                    </th>
                                    <td>
                                        {{ item.conta }}
                                    </td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
               </div>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
    </div>

{% endblock %}