{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="card">
    <div class="card-body">
    <h5 class="card-title">Conta a Pagar</h5>
    <form method="post">
        {% csrf_token %}
        <div class="row">

             <div class="col-md-6">
                <div class="form-group">
                    {{ form.tipo_fatura.label }}
                    {{ form.tipo_fatura }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                     {{ form.descricao.label }}
                    {{ form.descricao }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                     {{ form.data_vencimento.label }}
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        {{ form.data_vencimento }}
                    </div>
                </div>
            </div>

             <div class="col-md-6">
                <div class="form-group">
                    {{ form.valor_fatura.label}}
                    {{ form.valor_fatura}}
                </div>
            </div>


        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-default" href="{% url 'contas_fatura_list' %}">Gerenciar</a>
    </form>
    </div>
    </div>
{% endblock %}